$white: #FFFFFF;
$black: #000000;

$text-gray: #4d4a4a;
$text-blue: #5181B8;

$input-gray: rgba(0, 0, 0, 0.13);

$icon-black: #323232;
$icon-gray: #969696;

$background: #EDEEF0;
$background-gray: #E1E2E2;

$box-shadow: 1px 4px 20px 6px rgba(188, 188, 188, 0.25);
$main-blue: #1A73E8;
